body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-image: url(../images/13-Village-Theatre.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav p {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border: 1px white solid;
  background-color: slategray;
}

header {
  background-color: rgb(250, 250, 244);
}

header img {
  display: block;
  margin: auto;
  height: 80px;
}