header {
    background-color: blueviolet;
}

/* main {
    background-color: cadetblue;
} */

main section {
    background-color: darkmagenta;
    border: solid white 8px;
    box-sizing: border-box;
}

:root {
    --cyan:#AEDDDA;
    --green:#4C7335;
    --white: #ffffff;
    font-family: "Roboto", sans-serif;
    color:var(--blue);
}

/*   */

body, header, main, footer, section, article, aside {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-size:16px;
}

main p {
    font-size: .8em;
}

main aside div {
    padding: 1px;
    box-sizing: border-box;
}

.butterfly {
    height: 250px;
    padding-top: 100px;
}
