section {
    background-color: red;
}

{

}

{

}

{

}

{

}





.zoe section {
    background-repeat: ;
    background-position: ;
    background-size: ;
    background-attachment: ;
}



.em {
    background-image: ../images/waterfall1;
  
}