/* body {
    margin:0;
    padding:0;
    background-color: black;
    color: white;
    font-size:16px;
} */

/* main {
    width:80%;
    margin: auto;
} */

body,main,article,section,header,footer {
    margin:0;
    padding:4px;
    box-sizing: border-box;
}

.pure-u-1-5 {
    width: 20%;
}

section:hover {
    background-color: black;
}

nav a {
    flex-grow:1;
    text-align: center;
    color: blueviolet;
    text-decoration: none;
    border: white 2px solid;
    padding:5px;
}

nav a:hover {
    color: black;
    background-color: white;
}

body {
    padding:100px;
    font-size:16px;
    background-color: black;
    color: white;
}

section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5px;
    background-attachment: fixed;
}

.em {
    background-image: url(../images/waterfall1.jpg);
    border: solid darkorange 1em;
    font-size: 1.2em;
}

.em p {
    font-size:none;
}

.rem {
    background-image: url(../images/waterfall5.jpg);
    border: dotted darkred .5rem;
}

.rem p {
    font-size:none;
}

.percent {
    background-image: url(../images/waterfall2.jpg);
}

.percent p {
    width:75%;
}

.boxing {
    background-image: url(../images/waterfall3.jpg);
    box-sizing: border-box;
    border: solid dodgerblue;
}

.vw {
    background-image: url(../images/waterfall4.jpg);
    border: dashed 3vw;
    font-size: 1vw;
    box-sizing: border-box;
}

.vw p {
    font-size: medium;
}

.hero {
    /* background-image: url(../images/waterfall1.jpeg); */
    border-top-right-radius: 2em;
    /* border: solid black 2px; */
}

.hero p {
    width: 50%;
}