  ol {
    list-style-type: lower-roman;
  }

  ul { 
    list-style-image: url("../images/star.jpg");
} 
  
  li { 
    margin: 10px 0px 0px 0px;
}

ul { width: 150px;} 

li { margin: 10px;} 

ul.illuminations { list-style-position: outside;} 

ul.season { list-style-position: inside;}