.hero-lopez {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(../images/sj-041.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

/* body, header, main, footer, section, article, aside {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-size:16px;
} */

main {
    grid-auto-rows: minmax(400px, auto);
    grid-template-areas:
    "first second sidebar"
    "first middle sidebar"
    "first last last"
    "bottom1 bottom1 bottom2";
}

.item1 {
    grid-area: first;
    height: 100%;
    background-image: url(../images/sj-035.jpg)
}

.item2 {
    grid-area: second;
    height: 100%;
}

.pic4 {
    background-image: url(../images/sj-057.jpg);
    height: 100%;
}

.pic2 {
    background-image: url(../images/sj-019.jpg);
}

.pic6 {
    background-image: url(../images/sj-002.jpg);
}

.item3 {
    grid-area: sidebar;
}

.item4 {
    grid-area: middle;
}

.item5 {
    grid-area: last;
}

.item6 {
    grid-area: bottom1;
}

.item7 {
    grid-area: bottom2;
}