@media screen and (max-width:580px) {
    nav, main, footer, article, main ul, header, nav ul {
        width: 90%;
        display: block;
        margin: auto;
    }
    body {
        padding:5px;
    }
    .pure-g, .pure-menu-horizontal, .pure-menu-item {
        display: block;
    }

    .pure-u-1-2, .pure-u-1-4, .pure-u-1-5 {
        width:90%;
    }

    .loki img, .leo img {
        width: 45%;
    }
    main {
        grid-template-areas: none;
    }

    .item-1, .item-3 {
        height:400px;
    }
}