@charset "UTF-8";
/* CSS Document */

body {
    background-image: url(../images/backgroundSTEW.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0px;
    padding:0px;
    color: #344e5f;
  }

.stew-content {
    background-color:#cccccc;
    width:700px;
    padding:10px;
    margin:auto;
}

h1, h2, h3, h4 {
    color: #805e28;
}

h5 {
    color: aquamarine;
}

footer {
    background-color: #805e28;
    color: white;
    padding-top:7px; 
    padding-bottom:7px;
    clear:both;
    padding-left: 5px;
}

p {
    color: blue;
}

/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #6F86FF;
}

body {
    background-color: rgb(65, 71, 97);
    font-family: sans-serif;
}
