body {
    margin: 0px;
    background-image: url(../images/spotlight-stage.jpg);
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav p {
    display: flex;
    flex-grow: 1 3;
    justify-content: center;
    /* border: 1px white solid;
    background-color: slategray; */
}

header {
    background-color: rgb(red, green, blue);



}
header img {
    display: block;
    margin: auto;
    height: auto;
}
main, footer {
    color: aliceblue;
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 30px auto;}

    article {
        width: 60%;
        padding: 10px;
    }

article p {
    border-bottom: solid 1px white;
    padding-bottom: 10px;
}
    
main ul{
    width: 40%;
    padding: 10px;
    align-self: flex-end;
}

main ul li{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border: solid white 1px;
    text-align: center;
}
nav p:hover,
main ul li:hover{}

h1{}
h2{}
p{
    line-height: 2em;
}
nav p, 
footer a{
    color: darkgoldenrod;
}